@import '~bootstrap/scss/bootstrap';

body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

.mf2-main-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    color: lightgreen
  }
}
